<h2 mat-dialog-title>Добавить запись</h2>

<mat-dialog-content class="mat-typography">

  <mat-form-field class="display-none" appearance="fill">
    <mat-label>id</mat-label>
    <input matInput [(ngModel)]="document.id">
  </mat-form-field>

  <mat-form-field class="" appearance="fill">
    <mat-label>Дата</mat-label>
    <input matInput [(ngModel)]="document.date"  required="true"  type="date">
  </mat-form-field>

  <mat-form-field class="row__item" appearance="fill">
    <mat-label>Компания</mat-label>
    <mat-select [(ngModel)]="document.company"  required="true" >
      <mat-option *ngFor="let comp of company" value="{{comp}}">{{comp}}</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="row__item" appearance="fill">
    <mat-label>Цена</mat-label>
    <input matInput [(ngModel)]="document.price" type="number"  required="true" >
  </mat-form-field>


</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Отмена</button>
  <div *ngIf="document.price && document.company">
    <button mat-button [mat-dialog-close]="document" cdkFocusInitial type="submit">Добавить</button>
  </div>

</mat-dialog-actions>
